[include]
        # use this to store name, email and gpg signing key
        path = ~/.gitconfig.local
[color]
	ui = auto
[core]
	autocrlf = false
	eol = lf
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[init]
	defaultBranch = master
[commit]
	gpgsign = true
