#!/bin/sh

# This file in ran when X starts

xlayoutdisplay                                # Configure multiple monitor setup

~/.local/scripts/setbg &                      # Set background wallpaper
dunst &                                       # Setup notification deamon
picom &                                       # Start compositor
clipmenud &                                   # Start clipboard manager
dwmblocks &                                   # Start dwmblocks
redshift &                                    # Start bluelight filter (redshift)
